body {
    font-family: 'Ubuntu', sans-serif;
    background: url('../img/BACK.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    max-width: 1212px;
    padding-top: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;
}

.footer {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #388ec9;
}

.wrap {
    width: 100%;
    max-width: 1180px;
    padding-top: 53px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    align-items: center;
}

.nav>li {
    margin-left: 15px;

}

.nav>li>a {
    text-decoration: none;
    color: #89e6e1;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    background-image: url('../img/logo.svg');
    display: block;
    width: 58px;
    height: 58px;
    margin-right: 25px;
}

.logo_text {
    font-size: 24px;
    color: #e9dddd;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
}

.title-main {
    font-size: 56px;
    color: #c8e7e6;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.text-main {
    font-size: 32px;
    line-height: 1.5;
    color: #4F4F4F;
}

.nav_btn {
    background-color: #5528FF;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-weight: 700;
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
}

.nav_btn:hover {
    background-color: rgb(105, 73, 221);
    cursor: pointer;
}

.nav_btn:active {
    transform: scale(0.98);
    transition: margin-right 2s ease-in-out;
    outline: none;
}

.nav_btn:focus {
    outline: none;
}

.page {
    padding-top: 40px;
    padding-bottom: 100px;
    position: relative;

}

.page-top {
    border-top: 1px solid #C2C2C2;
}

.page h2 {
    position: absolute;
    top: -24px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    color: rgb(92, 116, 121);
}

.button {
    background-color: #5528FF;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 24px;
    padding: 16px 59px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #B68500;
    border: none; 
}

.button:hover {
    background-color: rgb(105, 73, 221);
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
    transition: margin-right 2s ease-in-out .5s;
    outline: none;
}

.button:focus {
    outline: none;
}

.services {
    display: grid;
    /* grid-template: 50% 50% / 50% 50%;   */
    grid-template: 1fr 1fr / 1fr 1fr;

}

.services-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.services_img {
    flex-basis: 120px;
     
}

.service_text {
    flex-basis: calc(100% - 120px);
}

.services h3 {
    font-size: 28px;
    font-weight: 400;
}

.services p {
    font-size: 14px;
    color: #B2B2B2;
    line-height: 1.5;
}

.clients {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 25%);
    text-align: center;
    grid-row-gap: 40px;
}

.team {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 33%);
    grid-row-gap: 40px;
}

.team-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.team-item h3 {
    font-size: 28px;
    line-height: 32px;
}

.team-item p {
    color: #B2B2B2;
    font-size: 14px;
    line-height: 16px;
}

.team-item img {
    margin-right: 20px;
}

.team-item>div {
    flex-basis: calc(100% - 120px);
}

.social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.social>li a {
    margin-left: 25px;
}

.social>li>a {
    text-decoration: none;
    color: #B2B2B2;
    font-size: 24px;
}

.box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id {
    height: 0;
    width: 0;
}